<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    

    {{!-- <title>Practice 2 - Bootstrap</title> --}}
  </head>

	    
                
<div class="container">
    <div class="container mt-5">
    
        <div class="row" id="first">
            <div class="col-md-10 offset-md-1 mx-auto p-5">
                <h3 class="mx-auto text-center">Ameer for Delivery</h3>
                <h4 class="mx-auto text-center">Welcome to {{title}}</h4>
                <h5 class="mx-auto text-center"></h5>
                <h6 class="mx-auto text-center">Make your business shine online with a custom product website designed just for you by a professional designer. Need ideas? We’ve collected some amazing examples of product websites from our global community of designers. Get inspired and start planning the perfect product web design today.</h6>
            </div>  
        </div>
    </div>
    <div class="container-fluid mt-1 h-80">        
        <div class="row text-center" id="second">
            <div class="col-12 m-1 p-1">
                <img class="img-fluid" src="https://image.shutterstock.com/z/stock-vector-fast-delivery-by-scooter-on-mobile-e-commerce-concept-online-food-order-infographic-webpage-app-1540323023.jpg"/>
            </div>
        </div>                  
    </div>   
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-5 mb-5 text-center">
             &copy; Ameer <--> Abed Alrahman
            </div>
        </div>
    </div>

    <div class="weatherWidget" ></div>


	             
</div>        
                



{{!-- <h1>Delivery</h1>
<p>Welcome to {{title}}</p> --}}
