

<h1>Thanks for buying from our website, come back again.</h1>



<div class="container-fluid mt-1 h-80">        
        <div class="row text-center" id="second">
            <div class="col-12 m-1 p-1">
                <img class="img-fluid" src="https://image.shutterstock.com/image-vector/online-delivery-service-concept-order-260nw-1675442779.jpg"/>
            </div>
        </div>                  
  </div> 