<h1>Hello {{ title }}</h1>

<h2>welcome back again. :)</h2>

<a href="/shop/orders" class="button" id="btnadmin" style="display: none"><i class="fa fa-bar-chart" aria-hidden="true"> Orders</i></a>
{{# if admin }}
<script type="text/javascript">
                        document.getElementById("btnadmin").style.display = "inline-block";
    </script>
 
{{/if}}

 <div class="container-fluid mt-1 h-80">        
        <div class="row text-center" id="second">
            <div class="col-12 m-1 p-1">
                <img class="img-fluid" src="https://3kbbnz3nwgvs3xsuz912yz46-wpengine.netdna-ssl.com/wp-content/uploads/2020/08/What-Is-an-E-Marketplace.jpg"/>
            </div>
        </div>                  
  </div>     

{{!-- display: ; --}}

	